body
{
   color:palevioletred;
    text-align: center;
    font-family: "arial";
    font-size: 16px;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: solid #ddd;
}
#container h1
{
    font-size: 20px;
}